<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div id="marketing">
      <div class="blackened">
    {% include navigation.html %}
        <div id="jumbo">
            <div class="row">
              <div class="col-sm-12">
                <div class="jumbo-text">
                    <h1 class="marginless bottomless"><span>Global Impact Fair</span></h1>
<!--                     <h4 class="marginless">We are a conference for the leaders of the future.</h2>
                     <a class="btn btn-info" href="committees.html">learn more →</a>-->
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div id="main">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
        <!--   <h2 class="section-title">Stay up to date</h2>
          <div class="item">
            <div class="date">
              <span class="day">18</span>
              <span class="month">Jan</span>
            </div>
            <div class="item-content">
              <h3 class="item-title">Officers announced</h3>
              <p>Student officers have been updated for the 2017 conference.</p>
              <a href="officers.html" class="btn btn-info">learn more →</a>
            </div>
          </div>
          <div class="separator"></div>
          <div class="item">
            <div class="date">
              <span class="day">15</span>
              <span class="month">Dec</span>
            </div>
            <div class="item-content">
              <h3 class="item-title">Committee issues released</h3>
              <p>Our 2017 committee issues have been released.</p>
              <a href="committees.html" class="btn btn-info">learn more →</a>
            </div>
          </div> -->
          <h2 class="section-title">Our Mission: “Create and sustain impact for future leaders at TASMUN!” </h2>
          <p>There are many creative ways to bring a higher level of impact and awareness about the SDGs to our Model UN program - as we make conscious decisions and changes. This year we are introducing a brand new activity - the “Global Impact Fair”!
             <br>We will be hosting a fair (under COVID-19 regulations) to present some efforts that had been made prior to the conference. We are accepting all projects - the criterias are as shown in the <a href="https://docs.google.com/forms/d/e/1FAIpQLSfaF_i5rZxa2ZZWokOQ4-6RjVhxPQjgZMaHVYiBoL7o6h6IjA/viewform" target="_blank">digital submission form</a>.</P>
          <h2 class="section-title">How can we participate? </h2>
          <p>Taking part is easy: all you need to do is choose a SDG and a deed (either from our suggestions or one of your own ideas), complete the deed and record it on a Deed Card, then upload it to our website. 
        </div>
        <div class="col-md-6">
          <h2 class="section-title">For some inspiration:</h2>
        <p>
          <li>
            <ol>Organize a petition to be signed by conference participants around an issue or topic</ol>
            <ol>Launch a sustained conference project<ol>
            <ol>Initiate a ‘Make a Difference’ project<ol>
            <ol>Organize a recycling, cleanup, volunteering event<ol>
              <ul>… at an animal shelter</ul>
              <ul>… elderly homes</ul>
            <ol>Create a short-term entertainments program at a children's hospital<ol>
            <ol>Start a campaign to reduce the waste of good food<ol>          
          </li>
        </p>
        <p>P.S: It is imperative you remember to bring pictures and provide some tangibles to present at the fair (the more, the better!). </p>
        </div>
      </div>

    </div>
  </div>
  {% include footer.html %}
  </body>
</html>
