
  <div id="top">
    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header" id="brand">
          <a class="navbar-brand" href="index.html"><b>TASMUN</b></a>
        </div>
        <div class="navbar-header">
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="administration.html">Administration</a></li>
              <li><a href="committees.html">Committees</a></li>
              <li><a href="appointments.html">Appointments</a></li>
              <li><a href="contact.html">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><p class="navbar-text">April 29-30, 2017</p></li>
            </ul>
        </div>

        </div>
      </div>
    </nav>
  </div>
