<div id="top">
  <nav class="navbar navbar-default">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header" id="brand">
        <a class="navbar-brand" href="index.html">
          <img class="img-responsive logo" src="assets/logo.png"></img>
        </a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-left navbar-collapse">
          <li><a href="secretariat.html">Secretariat Team</a></li>
          <li><a href="administration.html">Administration</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Conference
              <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="committees.html">Committees</a></li>
              <li><a href="officers.html">Officers</a></li>
              <li><a href="schedule.html">Schedule</a></li>
              <li><a href="resources.html">Preparation Resources</a></li>
              <li><a href="specializedcommittee.html">Specialized Committee Policy Statements</a></li>
              <li><a href="press.html">Press</a></li>
              <li><a href="dresscode.html">Dress Code</a></li>
            </ul>
          </li>
          <li><a href="contact.html">Contact</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Global Goals
              <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="100kdeeds.html">100K Deeds Challenge</a></li>        
          </ul>
        </ul>
        <ul class="nav navbar-nav navbar-right navbar-collapse">
          <li>
            <p>April 17th-18th, 2021</p>
          </li>
        </ul>
      </div>

    </div>
  </nav>
</div>
