<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>TASMUN 2017</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="marketing">
    {% include navigation.html %}
        <div id="jumbo">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <div class="jumbo-text">
                  <h1 class="marginless bottomless"><span>Embracing Tomorrow</span></h1>
                  <h4 class="marginless">We are a conference for the leaders of the future.</h2>
                  <a class="btn btn-info" href="committees.html">learn more →</a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div id="main">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2 class="section-title">Stay up to date</h2>
          <div class="item">
            <div class="date">
              <span class="day">15</span>
              <span class="month">Dec</span>
            </div>
            <div class="item-content">
              <h3 class="item-title">Committee issues released</h3>
              <p>Our 2017 committee issues have been released.</p>
              <a href="committees.html" class="btn btn-info">learn more →</a>
            </div>
          </div>
          <div class="separator"></div>
          <div class="item">
            <div class="date">
              <span class="day">12</span>
              <span class="month">Dec</span>
            </div>
            <div class="item-content">
              <h3 class="item-title">Updated dates</h3>
              <p>Dates have been updated for the 2017 conference.</p>
              <a href="dates.html" class="btn btn-info">learn more →</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h2 class="section-title">Our message</h2>
          <p>The TASMUN experience moves beyond simply debating and lobbying to one of <b>true global awareness</b> and knowledge of international relations. This year, we will continue with our Afghanistan Drive Initiative, fundraising for the HELA organization in Afghanistan, which works to spread Model United Nations to Afghan teenagers. We will continue our efforts to encourage and promote cross-cultural dialogue between Afghan students and participants in TASMUN, dialogue that is integral to our international community today. It is our hope that in doing so, participants in TASMUN may gain a greater awareness and connection to the problems that plague our world today.</p>
        </div>
      </div>
    </div>
  </div>
  {% include footer.html %}
  </body>
</html>
