<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div id="marketing">
    {% include navigation.html %}
        <div id="jumbo">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <div class="jumbo-text">
                  <h1 class="marginless bottomless"><span>Embracing Tomorrow</span></h1>
                  <h4 class="marginless">We are a conference for the leaders of the future.</h2>
                  <a class="btn btn-info" href="committees.html">learn more →</a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div id="main">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2 class="section-title">Stay up to date</h2>
          <div class="item">
            <div class="date">
              <span class="day">15</span>
              <span class="month">Dec</span>
            </div>
            <div class="item-content">
              <h3 class="item-title">Committee issues released</h3>
              <p>Our 2017 committee issues have been released.</p>
              <a href="committees.html" class="btn btn-info">learn more →</a>
            </div>
          </div>
          <div class="separator"></div>
          <div class="item">
            <div class="date">
              <span class="day">12</span>
              <span class="month">Dec</span>
            </div>
            <div class="item-content">
              <h3 class="item-title">Updated dates</h3>
              <p>Dates have been updated for the 2017 conference.</p>
              <a href="dates.html" class="btn btn-info">learn more →</a>
            </div>
          </div>
          <h2 class="section-title">What is TASMUN?</h2>
          <p>The Taipei American School Model United Nations (TASMUN) is a junior level conference designed for aspiring delegates from 7th grade to 10th grade new to Model United Nations. TASMUN has grown from a local conference consisting of less than a hundred people to more than 300 participants from various countries across asia. In 2013, the TASMUN conference achieved “Highly Recommended” status from The Hague International Model United Nations (THIMUN) Advisory Board. We look forward to seeing you at our next conference in late April!</p>
        </div>
        <div class="col-md-6">
          <h2 class="section-title">Preparation Schedule</h2>
          <a href="dates.html" class="btn btn-info">check if you're on track →</a>
          <h2 class="section-title">Our message</h2>
          <iframe src="https://player.vimeo.com/video/104679263" width="100%" height="360px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
  {% include footer.html %}
  </body>
</html>
